body{
	width: 100%;
	font-family: 'PT Sans', sans-serif;
	background-color: #f3f3f3;
}

#headerContainer{
	height: 112px; 
	padding-top: 10px;
	margin: 0px;
	width: 100%;
	border-bottom: thin solid #dddddd;
	box-shadow: 0px 2px 2px #efefef;
	background-color: white;
}


#text-logo{
	font-size: 30px;
/*Make this text vertically centered and somewhat attractive*/
}

#leftColumn{
	height: 100%;
}

.search {
    outline: none;
    border: none;
    height: 50px;
    background: #efefef left center no-repeat;
}


#searchColumn{
	height: 100%;
	padding-bottom: 0px;
	margin-bottom: 0px;
	padding: 0px;
}



.navbar{
	background-color: white;
	border: none;
	position: relative;

}
.navbar{
	margin-bottom: 0px;
}
.nav>li:hover{
	background-color: #efefef;
}

#mainContainer{
	margin: 0px;
	width: 100%;
	padding: 0px;
}

#sideNaviation{
	padding-left: 0px;
	margin: 0px;

}
.nav-option{
	height: 50px;
	line-height: 50px;
	padding-left: 15%;
	font-weight: bold;
}

.nav-option:hover{
	background-color: #e1e1e1;
}
