table {
    width: 100%;
    text-align: center;
    table-layout: fixed;
    border: 1px solid goldenrod;
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-size: 22px;
    color: #666;
}

td:hover {
    background: #ffdacc;
    /*background: #ffdd63;*/
    /*background: red;*/
}

.active {
    background: lightsalmon;
    color: black !important
}

.blank_date {
    margin: 0;
    font-size: 0;
}

.numbered_date {
    color: #666;
    font-size: 22px;
    margin: 0px;
}

.blank_date:hover {
    background: none;
}

#monthRow {
    /*width: 100%;*/
    padding: 40px 30px;
    background: goldenrod;
    color: white;
    font-size: 32px;
    letter-spacing: 3px;
    text-align: center;
    margin: 0px;
}

#leftArrow:hover,
#rightArrow:hover {
    background: #eed490;
    color: #6f5411;
}

#calendar_row_names {
    border: 1px solid black;
    margin: 0;
    padding: 10px 0;
    background-color: #ffdd63;
    color: black;
    text-align: center;
    font-size: 18px;
}

#day_names {
    background: #ffdd63;
}


/*td {

}*/

#headerContainer {
    height: 120px;
    padding-top: 10px;
    margin: 0px;
    width: 100%;
    border-bottom: thin solid #dddddd;
    box-shadow: 0px 2px 2px #efefef;
    background-color: white;
}

#sideNaviation {
    padding-left: 0px;
    margin: 0px;
}

.nav-option {
    height: 50px;
    line-height: 50px;
    padding-left: 15%;
    font-weight: bold;
}

.nav-option:hover {
    background-color: #ebcb7a;
    cursor: pointer;
}

.heading {
    padding-top: 20px;
    font-size: 24px;
}

div {
    align-content: center;
    margin: auto;
}

.row {
    align-content: center;
}

#giant-row {
    height: 400px;
    padding-top: 10px;
}

#tasksHeader {
    color: white;
    margin: 0px;
    margin-top: -5px;
    background: goldenrod;
    width: 100%;
    text-align: center;
    padding: 32.5px 25px;
    letter-spacing: 3px;
}

#tasks {
    align-content: justify;
    /*border: 1px solid black;*/
    height: 100%;
    padding: 0px;
    margin: 5px;
}

#addTaskRow {
    margin: 0px;
    align-items: stretch;
    background: lightgoldenrodyellow;
    border-bottom: 1px solid #e4ba4e;
}

#newTaskInput {
    width: 80%;
    font-size: 20px;
    padding: 10px 6px 10px 38px;
}

.addNewTaskButton {
    padding: 11.5px 8px;
    background: #e4ba4e;
    font-size: 20px;
    width: 20%;
    float: right;
    border-bottom: 1px solid #e4ba4e;
    text-align: center;
    /*margin-right: 5px;*/
}

#taskFunctionButtons {
    margin: 0px;
    padding: 5px 0px;
    background: lightgoldenrodyellow;
    height: 50px;
    /*align-content: space-around;*/
}

.functionButton1 {
    padding: 11.5px 8px;
    background: #e4ba4e;
    font-size: 18px;
    width: 50%;
    border: 1px solid lightgoldenrodyellow;
    text-align: center;
    float: left;
}

.functionButton2 {
    padding: 11.5px 8px;
    background: #e4ba4e;
    font-size: 18px;
    width: 50%;
    border: 1px solid lightgoldenrodyellow;
    text-align: center;
    float: right;
}

.addNewtaskButton:hover {
    background: goldenrod;
}

#mainContainer {
    width: 95%;
    height: calc(100% - 176px);
    padding: 0px;
    padding-top: 10px;
    outline: none;
}

#taskListProper {
    margin: 0px;
    padding: 0px;
    height: 330px;
    background: lightgoldenrodyellow;
    overflow-y: auto;
}

#taskListProper li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: lightgoldenrodyellow;
    font-size: 18px;
    transition: 0.2s;
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#taskListProper li::before {
    content: "\25C7";
    position: absolute;
    top: 12px;
    left: 11px;
    transform: rotate(45deg);
}

#taskListProper li:nth-child(odd) {
    /*background: #f5e5bc;*/
    background: #ffe299;
}

#taskListProper li:nth-child(odd):hover,
#taskListProper li:hover {
    /*background: #ebcb7a;*/
    background: #ffcc4d;
}

#taskListProper li.checked {
    background: #ad975f;
    color: #fff;
    text-decoration: line-through;
}

#taskListProper li.checked::before {
    content: "\25C7";
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 11px;
    left: 15.5px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 14.25px 8px;
}

.close:hover {
    background-color: gray;
    color: white;
}

input[type="checkbox"] {
    width: 16px;
    /*Desired width*/
    height: 16px;
}