ul {
    list-style-type: none;
}

body {
    font-family: 'PT Sans', sans-serif;
}

#headerContainer {
    height: 120px;
    padding-top: 10px;
    margin: 0px;
    width: 100%;
    border-bottom: thin solid #dddddd;
    box-shadow: 0px 2px 2px #efefef;
    background-color: white;
}

div {
    align-content: justify;
    margin: auto;
}

.row {
    align-content: center;
}

#giant-row {
    height: 400px;
}

#tasks-header {
    color: white;
    margin: 0px;
    background: goldenrod;
    width: 100%;
    text-align: center;
}

#tasks {
    align-content: justify;
    /*border: 1px solid black;*/
    height: 100%;
    padding: 0px;
    background: lightgoldenrodyellow;
    margin: 5px;
}

#calendar {
    border: 1px solid goldenrod;
    height: 100%;
    padding: 0px;
    margin: 5px;
}


/* Month header */

.month {
    padding: 40px 30px;
    width: 100%;
    background: goldenrod;
}


/* Month list */

.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 32px;
    letter-spacing: 3px;
    text-align: center;
}


/* Previous button inside month header */

.month .prev {
    float: left;
    padding-top: 10px;
}


/* Next button */

.month .next {
    float: right;
    padding-top: 10px;
}


/* Weekdays (Mon-Sun) */

.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ffdd63;
    ;
}

.weekdays li {
    display: inline-block;
    width: 13.5%;
    color: black;
    text-align: center;
}


/* Days (1-31) */

.days {
    padding: 10px 0;
    margin: 0px;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.5%;
    text-align: center;
    margin-bottom: 5px;
    font-size: 12px;
    color: #666;
}


/* Highlight the "current" day */

.days li .active {
    padding: 5px;
    background: lightsalmon;
    color: black !important
}

.task-li {
    font-size: 16px;
    margin: 2px;
}