ul {
    list-style-type: none;
}

table {
    width: 100%;
    text-align: center;
    table-layout: fixed;
    border: 1px solid goldenrod;
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-size: 22px;
    color: #666;
}

td:hover {
    background: #ffdacc;
    /*background: #ffdd63;*/
    /*background: red;*/
}

.active {
    background: lightsalmon;
    color: black !important
}

.blank_date {
    margin: 0;
    font-size: 0;
}

.numbered_date {
    color: #666;
    font-size: 22px;
    margin: 0px;
}

.blank_date:hover {
    background: none;
}

#monthRow {
    /*width: 100%;*/
    padding: 40px 30px;
    background: goldenrod;
    color: white;
    font-size: 32px;
    letter-spacing: 3px;
    text-align: center;
    margin: 0px;
}

#leftArrow:hover,
#rightArrow:hover {
    background: #eed490;
    color: #6f5411;
}

#calendar_row_names {
    border: 1px solid black;
    margin: 0;
    padding: 10px 0;
    background-color: #ffdd63;
    color: black;
    text-align: center;
    font-size: 18px;
}

#day_names {
    background: #ffdd63;
}


/*td {

}*/

#headerContainer {
    height: 120px;
    padding-top: 10px;
    margin: 0px;
    width: 100%;
    border-bottom: thin solid #dddddd;
    box-shadow: 0px 2px 2px #efefef;
    background-color: white;
}

#sideNaviation {
    padding-left: 0px;
    margin: 0px;
}

.nav-option {
    height: 50px;
    line-height: 50px;
    padding-left: 15%;
    font-weight: bold;
}

.nav-option:hover {
    background-color: #e1e1e1;
    cursor: pointer;
}

.heading {
    padding-top: 20px;
    font-size: 24px;
}

div {
    align-content: center;
    margin: auto;
}

.row {
    align-content: center;
}

#giant-row {
    height: 400px;
}

#tasks-header {
    color: white;
    margin: 0px;
    background: goldenrod;
    width: 100%;
    text-align: center;
}

#tasks {
    align-content: justify;
    /*border: 1px solid black;*/
    height: 100%;
    padding: 0px;
    background: lightgoldenrodyellow;
    margin: 5px;
}

#mainContainer {
    width: 95%;
    height: calc(100% - 176px);
    padding: 0px;
    padding-top: 10px;
    outline: none;
}

.task-li {
    list-style-type: square;
    font-size: 16px;
    margin: 10px;
}

.task-text {
    font-size: 16px;
    margin: 10px 10px;
    font-family: 'PT Sans', sans-serif;
}

input[type="checkbox"] {
    width: 16px;
    /*Desired width*/
    height: 16px;
    /*Desired height*/
}