#toolbar {
	text-align: center;
	font-size: 20px;
	padding: 4px;
	background: white;
	border-bottom: thin solid #dddddd;
}

.toolbarGroup {
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
}

.toolbarButton, .addToolbarButton {
	margin: 0;
	background: linear-gradient(to top, #CCC, #DDD);
	border: solid 1px #888;
	border-right: none;
	height: 35px;
}

.toolbarButton:last-child, .addToolbarButton {
	border-right: solid 1px #888;
}

.toolbarButton:active, .addToolbarButton:active {
	background: #AAA;
}

.toolbarButton.effective, .addToolbarButton.effective {
	background: rgb(52, 148, 251);
}

#filename {
	text-align: left;
	display: inline-block;
	left: 0;
	margin-right: 20px;
}

#savingIndicator {
	display: inline-block;
	margin-left: 20px;
	font-size: 14px;
	width: 100px;
	text-align: left;
	color: #A9A9A9;
}
