body{
	width: 100%;
	font-family: 'PT Sans', sans-serif;
	background-color: #f3f3f3;
}

#headerContainer{
	height: 120px;
	padding-top: 10px;
	margin: 0px;
	width: 100%;
	border-bottom: thin solid #dddddd;
	box-shadow: 0px 2px 2px #efefef;
	background-color: white;
}

.active{
	font-weight: bold;
}

.navbar-nav>li:active{
	font-weight: bold;
}

#text-logo{
	font-size: 30px;
/*Make this text vertically centered and somewhat attractive*/
}

#leftColumn{
	height: 100%;
}

.search {
    outline: none;
    border: none;
    height: 50px;
    background: #efefef left center no-repeat;
}


#searchColumn{
	height: 100%;
	padding-bottom: 0px;
	margin-bottom: 0px;
	padding: 0px;
}

.navbar{
	background-color: white;
	border: none;
	position: relative;
	padding: 0px;
	padding-top: 5px;
	padding-bottom: 3px;

}
.navbar{
	margin-bottom: 0px;
}
.nav>li:hover{
	background-color: #efefef;
}

ul.nav {
	width: 100%;
	text-align: center;
}

.nav li {
	width: 33.33%;
}

#profileImage {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	cursor: pointer;
}
