#mainContainer{
	margin: 0px;
	width: 100%;
	padding: 0px;
	padding-top: 10px;
}

#sideNaviation{
	padding-left: 0px;
	margin: 0px;

}
.nav-option{
	height: 50px;
	line-height: 50px;
	padding-left: 15%;
	font-weight: bold;
}

.nav-option:hover{
	background-color: #e1e1e1;
	cursor: pointer;
}

.heading{
	padding-top: 20px;
	font-size: 24px;
}

#fileDirectory{
	font-size: 30px;
	background-color: white;
	color : #d34313;
}

.filename{
	padding : 0px;
	margin: 0 px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 125px;
	height: 25px;
	border: none;
	background-color: #cfcfcf;
}

.options{
	position: absolute;
	margin: 0px;
	width: 25px;
	height: 25px;
	top: 0;
	right: 0;
}
